@import "normalize"; // cross-browser style normalization
@import "mixins"; // various css3 mixins
@import "fonts"; // custom @font-faces go here
@import "global"; // common elements, classes, variables, mixins, etc
@import "print";




//
// layout elements
html, body { height: 100%; min-height: 100%; }

body {
    background: $brown;
    font: 13px/1.4 arial, sans-serif;
}


#top { position: relative; }


header {
    background: #37241b url(../img/woodgrain.jpg) no-repeat center center;
    position: relative;
    z-index: 2;

    .container {
        color: white;
        font-size: 11px;
        height: 71px;
        position: relative;
    }

    a { color: white; }

    .logo {
        @include hidetext;
        background: url(../img/logo.png);
        height: 108px;
        left: 20px;
        position: absolute;
        top: 10px;
        width: 120px;
    }

    nav {
        float: left;
        left: 150px;
        position: relative;
        top: 36px;

        ul {

            li {
                float: left;
                position: relative;

                > a { 
                    display: block;
                    padding: 10px;
                    text-transform: uppercase; 
                }

                &:hover,
                &.active { 
                    > a { background: black; }

                    .dropdown { display: block; }
                }

                .dropdown { 
                    background: $brown;
                    display: none;
                    font-size: 12px;
                    padding: 20px 10px 0 10px;
                    position: absolute; 
                    width: 180px;

                    a {
                        @include hidetext;
                        background: url(../img/buttons/lets-talk.png);
                        height: 26px;
                        margin: 5px auto;
                        width: 78px;
                    }
                }
            }
        }
    }

    .nestle-link {
        font-size: 9px;
        position: absolute;
        right: 40px;
        top: 20px;
    }

    .search {
        float: right;
        margin: 45px 20px 0 0;

        input[type=text] {
            border: none;
            float: left;
            font-size: 10px;
            height: 17px;
            margin: 0 2px 0 0;
            padding: 0 2px;
            position: relative;
            top: 1px;
        }

        input[type=submit] {
            @include hidetext;
            background: url(../img/buttons/go.png);
            border: none;
            float: left;
            height: 20px;
            width: 22px;
        }
    }
}


footer {
    background: url(../img/cardboard-gradient.jpg) repeat-y center center;
    border-top: 15px solid $brown;
    color: white;
    height: 80px;
    overflow: hidden;
    padding: 20px 0;
    position: relative;
    z-index: 3;

    a { color: white; }

    .container {
        position: relative;
    }

    .center {
        font-size: 14px;
        margin: 0 auto;
        text-align: center;
        text-indent: 50px;
        width: 530px;

        a { text-decoration: underline; }

        nav,
        small { font-size: 8px; }

        nav {
            text-transform: uppercase;

            li {
                display: inline;

                &:before { 
                    content: " | "; 
                    padding: 0 5px;
                }

                &:first-child:before { display: none; }

                a { text-decoration: none; }

                .dropdown { display: none; }
            }
        }
    }

    .chefmate-logo {
        @include hidetext;
        background: url(../img/chefmate-logo.png);
        height: 42px;
        left: 10px;
        margin: 0 0 0 20px;
        position: absolute;
        top: 15px;
        width: 203px;
    }

    .np-logo {
        @include hidetext;
        background: url(../img/nestle-logo.png);
        height: 58px;
        margin: 0 20px 0 0;
        position: absolute;
        right: 10px;
        top: 5px;
        width: 131px;
    }
}


.main {
    border-top: 15px solid $brown;
    // min-height: 811px;
    overflow: hidden;
    position: relative;
    z-index: 1;

    .content {
        background: white;
        border-right: 15px solid $brown;
        float: left;
        min-height: 810px;
        width: 660px;

        h1 { 
            color: $brown; 
            margin: 0 0 15px 0;
        }

        .intro {
            padding: 40px 20px 10px 20px;
            font-size: 13px;
        }
    }

    .sidebar {
        float: right;
        width: 255px;

        .call-to-action {
            border-bottom: 15px solid $brown;

            img { display: block; }
        }

        .partners {
            background: #ede5cb;
            bottom: 0;
            color: $brown;
            font-size: 14px;
            line-height: 1.2;
            padding: 20px 25px 0 25px;
            position: absolute;
            right: 0px;
            text-align: center;
            width: 205px;

            .intro { margin: 0 0 15px 0; }

            .partner {
                border-top: 1px solid #aaa;
                padding: 15px 0;
            }
        }
    }
}





//
// pop up window
#lightbox {
    background: rgba(0, 0, 0, 0.75);
    display: none;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;

    .welcome {
        border: 4px double black;
        color: white;
        display: none;
        margin: 0 auto;
        outline: 2px solid black;
        position: relative;
        top: 150px;
        width: 500px;

        > div { 
            background: black; 
            padding: 25px 30px;
        }

        h1 {
            font: 400 23px/1.1 'arial narrow', arial, sans-serif;
            letter-spacing: 0px;
            margin: 0 0 15px 0;
            text-transform: none;
        }

        p {
            font: 100 20px/1.2 'arial narrow', arial, sans-serif;
            -webkit-font-smoothing: antialiased;
        }

        button {
            @include hidetext;
            background: url(../img/buttons/get-started.png);
            height: 41px;
            margin: 20px auto 0;
            width: 146px;
        }
    }

    .product-info {
        border: 4px double $brown;
        color: white;
        margin: 0 auto;
        outline: 2px solid $brown;
        position: relative;
        top: 150px;
        width: 500px;

        > div { 
            background: $brown; 
            overflow: hidden;
        }

        button {
            @include hidetext;
            background: url(../img/x-small.png) no-repeat center center;
            border: none;
            height: 25px;
            position: absolute;
            right: 0px;
            top: 0px;
            width: 25px;
        }

        img {
            display: block;
            float: left;
            margin: 30px 15px;
        }

        h4 {
            font: 400 26px/1.1 'yanone kaffeesatz', sans-serif;
            letter-spacing: 1px;
            margin: 20px 0 10px 0;
            text-transform: uppercase;

            &:first-line { font-size: 30px; }
        }

        p { font-size: 17px; }

        a {
            color: white;
            text-decoration: underline;

            &:after { content: " >"; }
        }

        .right {
            float: right;
            padding: 0 30px 0 0;
            width: 300px;
        }
    }

    .thank-you {
        border: 4px double $brown;
        margin: 200px auto;
        position: relative;
        width: 395px;

        p {
            background: $brown;
            color: white;
            font-size: 15px;
            margin: 0;
            padding: 30px 40px;
            text-align: center;
        }

        button {
            @include hidetext;
            background: url(../img/x-small.png) no-repeat center center;
            border: none;
            height: 25px;
            position: absolute;
            right: 0px;
            top: 0px;
            width: 25px;
        }
    }
}



//
// article previews
.teaser {
    border-top: 15px solid $brown;
    color: $black;
    height: 220px;
    padding: 20px;

    position: relative;

    .headline,
    .summary,
    .read-more {
        position: absolute;
    }

    a { color: black; }

    .headline {
        bottom: 88px;
        position: absolute;

        h2 {
            line-height: 1.2;
            letter-spacing: 0px;
            width: 560px;

            a { 
                background: url(../img/beige-60.png); 
            }
        }
    }

    .summary {
        bottom: 0px;

        p {
            font-size: 12px;
            line-height: 1.7;
            margin: 0 0 2px 0;
            width: 400px;
        }

        span,
        .see-all a { 
            background: url(../img/beige-60.png); 
            padding: 3px;
        }

        .keep-reading {
            font-weight: bold;

            &:after { content: " >"; }

        }

        .see-all {
            text-transform: uppercase;

            a:after { content: " >"; }
        }
    }

    .read-more {
        @include border-radius(0 0 3px 3px);
        background: $brown;
        color: #f3ebd1;
        display: block;
        font: 400 14px/1.2 $font-heading, sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 7px 10px;
        right: 30px;
        top: 0px;

        &:after { content: " >"; }
    }
}



//
// article detail
.detail {
    .copy {
        padding: 20px;
        position: relative;

        .back {
            display: block;
            text-transform: uppercase;

            &:before { content: "< "; }
        }

        .body {
            width: 530px;

            h2 {
                font: 400 14px/1.3 arial, sans-serif;
            }
        }

        .byline {
            line-height: 1.2;

            .date { font-size: 10px; }
        }

        .actions {
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            right: 20px;
            top: 20px;

            li { 
                float: left; 
                margin: 0 0 0 15px;

                a {
                    @include hidetext;
                    background: no-repeat left bottom;
                    height: 40px;
                    width: 30px;
                }
            }

            .email { background-image: url(../img/email.png); }

            .print { background-image: url(../img/print.png); }
        }

        //
        // recipe-specific styles
        .ingredients {
            background: #f4eddf;
            margin: 0 -20px 20px -20px;
            padding: 20px;
            width: 620px;

            table {
                width: 100%; 

                td { 
                    padding: 0 15px 5px 0; 

                    &.first:before { content: "- "; }
                }
            }
        }

        .procedure {
            ul,
            ol {
                margin: 10px 0;
                padding: 0 0 0 1.5em;
            }
        }
    }

    .other-articles {
        border-top: 2px solid #ccc;
        margin: 20px;
        padding: 20px 0 0 0;

        h2 { 
            font: 400 14px/1.5 arial, sans-serif; 
            margin: 0 0 20px 0;
        }

        .related,
        .nav {
            list-style: none;
            overflow: hidden;
            padding: 0;
            margin: 0;

            li {
                border-left: 1px solid $brown;
                float: right;
                left: -1px;
                position: relative;

                &:first-child {
                    border-left: none;
                    border-right: 1px solid $brown;
                    float: left;
                    left: auto;

                    a {
                        background: url(../img/arrow-left.png) no-repeat left center;
                        padding: 15px 20px 0 40px;
                    }
                }

                a {
                    background: url(../img/arrow-right.png) no-repeat right center;
                    display: block;
                    height: 50px;
                    width: 249px;
                    padding: 15px 40px 0 20px;
                    text-transform: uppercase;
                }
            }
        }
    }
}



//
// home page
.home .content {
    .menu-ideas article { border-top: none; }
}



//
// partners
.partners {
    .main { min-height: 0; }

    .sidebar {
        .partners { display: none; }
        .call-to-action { border-bottom: none; }
    }

    .content {
        min-height: 354px;
        // min-height: auto;
        padding: 0 0 125px 0;

        .intro { margin: 0 0 50px 0; }

        .partner {
            border-left: 1px solid $brown;
            float: left;
            height: 100px;
            line-height: 100px;
            text-align: center;
            width: 219px;

            &:first-child { border-left: none; }

            img { vertical-align: middle; }
        }	
    }
}



//
// about us and products
.about-us .content {
    .intro { padding: 20px; }

    .categories {
        padding: 20px;

        .category {
            clear: both;
            margin: 0 0 20px 0;
            padding: 0 0 20px 0;

            h2 {
                background: url(../img/arrow-right-small.png) no-repeat left center;
                font: 400 14px/1.4 arial, sans-serif;
                text-indent: 30px;

                a { display: block; }
            }

            &.active {
                h2 { background-image: url(../img/arrow-down-small.png); }
            }

            .products { 
                display: none; 
                padding: 0 0 0 20px;

                .product {
                    float: left;
                    height: 80px;
                    margin: 20px 0;
                    width: 260px;

                    img {
                        display: block;
                        float: left;
                    }

                    > .right {
                        float: left;
                        margin: 0 0 0 10px;
                        width: 180px;

                        button {
                            @include hidetext;
                            background: url(../img/plus.png);
                            border: none;
                            height: 20px;
                            width: 21px;
                        }

                        h3 {
                            font: 700 18px/0.9 'yanone kaffeesatz', sans-serif;
                            margin: 10px 0 5px 0;
                            text-transform: uppercase;

                            &:first-line { font-size: 22px; }
                        }
                    }

                    .more-info { display: none; }
                }
            }
        }
    }


    // promotional link for que bueno page
    .que-bueno {
        border: 1px solid $brown;
        color: $brown;
        display: none;
        margin-top: 10px;
        overflow: hidden;
        padding: 12px 20px;


        img { 
            float: left; 
            margin-right: 5%;
        }

        h3,
        p {
            float: left;
            width: 50%;
        }

        h3 {
            font: bold 18px/1 $font-heading;
            margin: 5px 0;
        }

        p { line-height: 1.2; }

        a {
            @include border-radius(7px);
            background: $brown;
            color: white;
            display: block;
            float: right;
            font: 16px/36px $font-heading;
            text-align: center;
            text-transform: uppercase;
            width: 20%;
        }
    }


    .faqs {
        clear: both;
        display: block;
        margin: 0 0 40px 20px;
        text-decoration: underline;
    }
}



//
// contest signup and form
.contest {
    .sidebar .call-to-action { display: none; }


    .content {
        .intro {
            border-bottom: 15px solid $brown;
            padding-top: 20px; 
            position: relative;

            h2 { 
                font: 400 18px/1.4 arial, sans-serif; 
                letter-spacing: 0px;
            }

            p { width: 600px; }

            ul {
                list-style: none outside none;
                margin: 0;
                padding: 0 0 0 1em;

                li {
                    line-height: 1.8em; 
                    position: relative;

                    &:before { 
                        content: "- "; 
                        display: block;
                        position: absolute;
                        left: -8px;
                        top: 0px;
                    }
                }

                ul { padding: 0 0 0 2em; }
            }

            .go-to-form {
                background: url(../img/plus.png) no-repeat right center;
                display: block;
                padding: 0 30px 0 0;
                position: absolute;
                right: 60px;
                text-transform: uppercase;
                top: 50px;
            }
        }

        #form {
            background: #4f3f37;
            color: white;
            padding: 20px 70px;
            -webkit-font-smoothing: antialiased;

            h2 {
                font: 400 18px/1.4 arial, sans-serif;
                margin: 0 0 15px 0;
                letter-spacing: 0px;
                text-transform: none;

                .hint { font-size: 12px; }
            }

            div,
            label { margin: 10px 0 0 0; }

            label { display: block; }

            input[type=text],
            input[type=email],
            textarea {
                border: 0;
                display: block;
                height: 24px;
                line-height: 24px;
                margin: 0 0 5px 0;
                padding: 2px;
                width: 400px;
            }

            input[type=submit] {
                @include hidetext;
                background: url(../img/buttons/enter-competition.png);
                border: none;
                height: 58px;
                margin: 40px auto 60px;
                width: 275px;
            }

            .city {
                float: left;
                margin-left: 0;
                width: 210px;

                input { width: 206px; }
            }

            .state {
                float: left;
                margin-left: 10px;
                width: 70px;

                input { width: 66px; }
            }

            .zip { 
                float: left;
                margin-left: 10px;
                width: 104px;

                input { width: 100px; }
            }

            .operation-type { clear: both; }

            .primary-buyer,
            .menu-contains,
            .current-purchaser,
            .current-purchaser-chefmate,
            .follow-up-call {
                overflow: hidden;

                p { margin-bottom: 0; }

                label {
                    float: left;
                    width: 100px;
                }
            }

            .ingredient-types {
                p { margin: 0 0 10px 0; }

                label {
                    float: left;
                    margin: 0 0 10px 0;
                    width: 200px;
                }

                .other {
                    margin: 15px 0 10px 0;
                    clear: both;
                }
            }


            .agree-to-terms {
                margin: 40px 0 10px 0;

                a { 
                    color: white;
                    text-decoration: underline; 
                }
            }

            .privacy { font-size: 9px; }

            .invalid,
            .missing {
                input {
                    background: white url(../img/exclamation.png) no-repeat right center;
                }
            }

            .thank-you {
                display: none;
            }
        }
    }
}



.search {
    .content {
        .intro {
            p {
                font-size: 16px;

                .keywords { font-weight: bold; }
            }
        }

        .results {
            padding: 20px;

            h2 {
                font: normal 24px/1.4 arial, sans-serif;
                margin: 0 0 10px 0;
                text-decoration: underline;
                text-transform: none;
            }

            h3 {
                font-size: 13px;
                font-weight: normal;
                margin: 0;
            }

            p a { 
                font-weight: bold; 

                &:after { content: " >"; }
            }
        }
    }
}



.rules {
    .content {
        position: relative;

        .copy { padding: 60px 20px 10px 20px; }

        .print {
            @include hidetext;
            background: url(../img/print.png) no-repeat left bottom;
            height: 40px;
            width: 30px;
            position: absolute;
            right: 20px;
            top: 20px;
        }
    }
}



.quebueno.landing {
    .main { 
        background: #301d14 url(../img/queso-burger.jpg) no-repeat center top;
        border-top: 0;
        width: auto; 
    }

    .sidebar { display: none; }

    .content { 
        background: none;
        border-right: 0;
        float: none;
        margin: 0 auto;
        width: 930px; 
    }

    .intro {
        overflow: hidden;
        padding-bottom: 16%;

        > div {
            background: url(../img/que-bueno-logo.png) no-repeat center top;
            background-size: 100%;
            clear: both;
            float: right;
            height: 0;
            padding: 0 0 38.5% 0;
            width: 33.76%;

            > * { display: none; }
        }
    }

    .tabs {
        clear: both;
        list-style: none;
        margin-bottom: 0;
        margin-top: -50px;
        padding: 0;
        text-align: center;

        li {
            display: inline-block;

            &:first-child { margin-right: 10px; }
        }

        a { 
            @include border-radius(7px 7px 0 0);
            background: #301d14 url(../img/v.png) no-repeat right center;
            color: white; 
            display: block;
            font: 400 24px/50px 'yanone kaffeesatz', sans-serif;
            letter-spacing: 1px;
            line-height: 50px;
            padding: 0 45px 0 30px;
            text-transform: uppercase;
        }
    }

    .video { 
        background: #301d14; 
        clear: both;
        color: white;
        overflow: hidden;
        padding-bottom: 30px;
        padding-top: 30px;

        h2 { 
            font-size: 32px;
            font-weight: 400;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }

        .iframe {
            float: right;
            height: 315px;
            width: 60.21%;

            iframe { 
                display: block;
                height: 100%;
                width: 100%;
            }
        }

        img { 
            float: left; 
            width: 40%;
        }

        p {
            float: right;
            font-size: 14px;
            width: 52%;
        }


        .left {
            float: left;
            width: 38%;

            a {
                color: white;
                font-weight: 100;

                &:after { content: " ›"; }
            }
        }
    }


    .recipes {
        background: #f4f4f4;
        overflow: hidden;
        padding: 30px;

        h2 {
            color: #3a2618;
            font-size: 36px;
            margin-bottom: 30px;
            text-align: center;

            &:after {
                border-top: 1px solid #3a2618;
                border-bottom: 1px solid #3a2618;
                content: " ";
                display: block;
                height: 3px;
                margin: 10px auto 0;
                width: 20%;
            }
        }

        hr {
            background: #3a2618;
            clear: both;
            margin: 30px 0;
        }
    }

    .recipe {
        float: left;
        margin-bottom: 30px;
        margin-right: 6.2%;
        width: 28.8%;

        &.third { margin-right: 0; }

        h3 {
            color: #3a2618;
            font-size: 18px;
            line-height: 1.1;
            margin-top: 5px;
            text-align: center;
            text-transform: uppercase;
        }

        img { width: 100%; }

        .email {
            @include hidetext;
            background: url(../img/email2.png) no-repeat left center;
            float: left;
            height: 35px;
            width: 35px;
        }

        .download {
            @include border-radius(8px);
            background: #f3ebd1 url(../img/pdf.png) no-repeat 15px center;
            color: #3a2618;
            display: block;
            float: left;
            font-size: 10px;
            font-weight: bold;
            line-height: 35px;
            padding: 0 20px 0 50px;
        }

        .recipe-url { 
            clear: both;
            display: block; 
            padding-top: 20px;
        }
    }
}



.qb-unipro-contest {
    header {
        background: white;

        .container { height: 113px; }

        .logo {
            background: url(../img/que-bueno-logo-small.png);
            height: 80px;
            width: 169px;
        }

        nav {
            float: right;
            left: 0;
            top: 32px;

            li {
                margin-right: 20px;

                a {
                    @include border-radius(10px);
                    background: $brown;
                    font: 24px/55px $font-heading;
                    letter-spacing: 1px;
                    padding: 0 25px;
                }

                &.active a {
                    background: #4d2e20;
                }
            }
        }
    }

    .main { 
        background: #301d14 url(../img/queso-burger.jpg) no-repeat center top;
        border-top: 0;
        width: auto; 
    }

    .sidebar { display: none; }

    .content { 
        background: none;
        border-right: 0;
        float: none;
        margin: 0 auto;
        width: 930px; 
    }


    .hero {
        overflow: hidden;
        height: 528px;

        > div {
            clear: both;
            float: right;
            position: relative;
            top: 70px;
            width: 33.76%;

            h2 {
                color: white;
                font: bold 25px/1.3 arial, sans-serif;
                letter-spacing: 1px;
                padding-bottom: 20px;
                position: relative;
                text-align: center;

                &:after {
                    border-bottom: 1px solid white;
                    border-top: 1px solid white;
                    bottom: 0;
                    content: " ";
                    height: 5px;
                    left: 10%;
                    position: absolute;
                    width: 80%;
                }

                span { font: bold 30px/1.3 $font-heading; }
            }

            p {
                color: white;
                font: bold 20px/1.3 arial, sans-serif;
                margin: 10px 0 0 0;
                text-align: center;

                a { 
                    color: white;
                    text-decoration: underline;
                }
            }
        }
    }

    footer {
        height: auto;
        overflow: hidden;
        padding-bottom: 30px;

        small { line-height: 1.3; }

        .legal {
            list-style: none outside none;
            margin: -10px 0 10px 0;
            padding: 0;
            text-align: center;

            li {
                display: inline-block;
                text-indent: 0;

                a { 
                    display: block;
                    line-height: 27px;
                    font-size: 10px;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:after {
                        content: " | ";
                        padding: 0 10px;
                    }
                }

                img { 
                    display: block; 
                    position: relative;
                    top: 10px;
                }
            }
        }
    }
}



.qb-unipro-contest.qbrecipe {
    .intro {
        color: white;
        overflow: hidden;
        padding: 45px 0 25px !important;

        h2 {
            font: bold 22px/1.4 arial, sans-serif;
            margin-bottom: 10px;

            span { font-style: italic; }

            &.earn-more { 
                font-size: 22px;
                font-weight: normal;
                letter-spacing: 0px;
                margin: 10px 0;
                text-transform: none;
            }
        }

        p {
            font: bold 14px/1.2 arial, sans-serif;
        }

        img { float: right; }

        .copy { 
            float: left; 
            width: 570px;
        }

        .calls-to-action {
            color: #f3ebd1;

            a { 
                color: #f3ebd1;
                text-decoration: underline;
            }

            p { 
                font-size: 18px;
                font-weight: bold;
            }

            .more-info { font-style: italic; }
        }
    }


    .how-it-works,
    .form,
    .rules {
        background: #f4f4f4;
        color: $brown;
        padding: 50px 70px;

        h3 {
            font: bold 18px/1.4 arial, sans-serif;
            margin-bottom: 0;
        }

        p { font-size: 14px; }
    }

    .how-it-works {
        h2 { 
            font-size: 36px; 
            position: relative;
            text-align: center;

            &:before,
            &:after {
                border-top: 1px solid $brown;
                border-bottom: 1px solid $brown;
                content: " ";
                height: 5px;
                position: absolute;
                top: 16px;
                width: 260px;
            }

            &:before { left: -15px; }

            &:after { right: -15px; }
        }
    }

    .form {
        position: relative;

        &:before,
        &:after {
            border-top: 1px solid $brown;
            border-bottom: 1px solid $brown;
            content: " ";
            height: 5px;
            left: 55px;
            margin: 0 auto;
            position: absolute;
            width: 820px;
        }

        &:before { top: 0; }

        &:after { bottom: 0; }

        h2 {
            font: bold 18px/1.4 arial, sans-serif;
            letter-spacing: 0px;
            margin-bottom: 0;
            text-transform: none;
        }

        .privacy { text-decoration: underline; }

        .template {
            background: url(../img/doc.png) no-repeat left center;
            display: block;
            font-size: 14px;
            line-height: 30px;
            padding-left: 30px;

            span { text-decoration: underline; }
        }

        .wufoo-form {
            background: #dedede;
            margin: 15px 0;
            padding: 0 15px 15px;
            position: relative;
            top: -19px;

            // oh god hacky
            &:before {
                background: #f4f4f4;
                content: " ";
                height: 20px;
                left: 0px;
                top: 0px;
                position: absolute;
                width: 100%;
                z-index: 20;
            }

            #wufoo-z1jzqlzd1iwppt6 {
                position: relative;
                z-index: 10;
            }
        }
    }

    .rules {
        p { margin-bottom: 0; }

        a { 
            font-style: italic;
            text-decoration: underline; 
        }
    }
}


.qb-unipro-contest.rules {
    .contest-rules {
        background: #f4f4f4;
        padding: 30px 15px;
    }

    h3, p, li {
        font: 11px/1.4 arial, sans-serif;
    }

    h2 { font: normal 13px/1.4 arial, sans-serif; }

    h3 { font-weight: bold; }

    p.privacy {
        font-size: 14px;
        margin: 0 auto 30px;
        width: 750px;

        a { text-decoration: underline; }
    }
}



//
// tablets
@media only screen and (max-width: 930px) {
    p {
        font-size: 1.2em;
        line-height: 1.8;
    }

    label { font-size: 1.2em; }

    header {
        .nestle-link,
        .search { display: none; }
    }

    #top {
        margin: auto;
        min-height: 0;
    }

    footer {
        height: auto;

        .chefmate-logo,
        .np-logo { position: relative; }

        .chefmate-logo { 
            float: left; 
            margin-left: 20px;
        }

        .np-logo {
            float: right;
            margin-right: 20px;
        }

        .center { 
            margin: 0 0 30px 0;
            text-indent: 0;
            width: auto; 
        }
    }

    .container { width: 100%; }

    .main {
        border-top: none;
        height: auto;
        min-height: 0;
        padding-bottom: 0;

        .content { 
            float: none;
            min-height: 0;
            width: 100%; 

            > img { 
                height: auto;
                width: 100%; 
            }
        }

        .sidebar { 
            display: none; 
            float: none;
        }
    }


    //
    // articles
    .teaser {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        h2 { width: 90%; }
    }

    .detail {
        > img {
            height: auto;
            width: 100%;
        }

        .copy .actions .print { display: none; }

        .copy .body {
            margin: 40px auto 0;
            width: 80%;
        }
    }

    .tablet-only.que-bueno {
        margin-top: 15px;
        display: block;

        img { 
            display: block;
            width: 100%; 
        }
    }

    .contest .tablet-only.sign-up { display: none; }


    .rules .print { display: none !important; }


    .about-us .content .que-bueno {
        img { 
            margin-right: 0;
            width: 20%; 
        }

        h3, p { 
            float: right;
            width: 70%; 
        }

        a { 
            clear: both;
            float: none; 
            margin: 0 auto;
            width: 50%;
        }
    }

    .quebueno.landing {
        .main { background-size: 100%; }

        .content { width: auto; }

        .intro { padding-bottom: 10.7%; }

        .video {
            padding: 30px 2%;

            h2 { font-size: 28px; }
        }

        .recipe {
            h3 { font-size: 16px; }

            p {
                font-size: 13px;
                line-height: 1.6;
            }
        }
    }
}




//
// smartphones
@media only screen and (max-width: 671px) {
    body { color: #301d13; }

    .mobile-only { display: block !important; }

    .tablet-only { display: none !important; }

    p { font-size: 14px; }

    h1,
    h2 { 
        font-size: 36px; 
    }


    #lightbox {
        background: rgba(0, 0, 0, 0.5);

        .welcome {
            margin: 0 auto;
            height: 90%;
            top: 5%;
            width: 90%;

             > div {
                border: 0;
                height: 100%;
                padding: 0px;
            }

            h1,
            p {
                padding: 0 15px;
            }

            h1 { 
                font-size: 18px; 
                margin: 0 0 10px 0;
                padding: 15px 15px 0;
            }

            p { 
                font-size: 13px; 
                line-height: 1.5;
            }

            .welcome-copy { height: 90%; }
        }

        .thank-you {
            margin: 0 auto !important;
            top: 5%;
            width: 90% !important;
        }
    }


    header {
        background: url(../img/m/woodgrain.jpg) no-repeat center 70px;
        height: auto;

        .container { 
            height: auto;
            min-height: 107px; 
        }

        .logo {
            background-size: contain;
            float: left;
            height: 80px;
            margin: 15px 0 12px 15px;
            position: static;
            top: 15px;
            width: 89px;
        }

        button {
            background: url(../img/m/menu.png) no-repeat right center;
            background-size: contain;
            border: none;
            color: white;
            float: right;
            font: 400 23px/20px 'yanone kaffeesatz', sans-serif;
            height: 23px;
            padding-right: 35px;
            position: relative;
            top: 75px;
            right: 15px;
            text-transform: uppercase;

            &.active { background-image: url(../img/m/close.png); }
        }

        nav { 
            background: url(../img/m/cardboard.jpg);
            clear: both;
            display: none;
            float: none;
            overflow: hidden;
            position: static;

            ul {
                li {
                    width: 50%;

                    a {
                        background: #f3ebd1;
                        color: #6d513e;
                        height: 35px;
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 35px;
                        margin: 15px auto;
                        padding: 10px 0;
                        text-align: center;
                        width: 85%;

                        &:active { background: white; }
                    }

                    &:hover a,
                    &.active a { background: white; }
                }
                .partners,
                .talk-shop { display: none; }
            }
        }

        .sign-up {
            background: #b32317;
            clear: both;
            font: 300 16px/30px 'yanone kaffeesatz', sans-serif;
            display: block;
            padding: 5px 10px;
            text-transform: uppercase;

            .button {
                @include border-radius(3px);
                background: #eec914;
                color: black;
                display: block;
                float: right;
                font-weight: 700;
                padding: 0 25px;
            }
        }
    }


    footer {
        border-top: none;
        padding: 0 0 10px 0;

        nav,
        .center small { display: none; }

        .contact {
            background: #ede5cb;
            color: $brown;
            font-size: 14px;
            padding: 0 0 40px 0;
            text-transform: uppercase;

            .call {
                display: block;
                text-transform: none;
                font-size: 30px;

                .phone { font-weight: bold; }

                // anchor automatically generated by mobile safari
                a { 
                    color: $brown; 
                    text-decoration: none;
                }
            }

            .request-visit {
                @include hidetext;
                background: url(../img/m/request-visit.png) no-repeat center center;
                background-size: contain;
                height: 50px;
                margin: 5px auto;
            }
        }


        .chefmate-logo,
        .np-logo {
            float: none;
            margin: 20px auto;
            position: static;
        }

        .mobile-only {
            a { 
                display: block; 
                margin: 20px 0;
                text-align: center;
            }

            small {
                display: block;
                margin: 10px auto;
                text-align: center;
                width: 300px;
            }

            .back-to-top {
                background: url(../img/m/arrow-top.png) no-repeat right center;
                background-size: contain;
                font: 400 20px/30px 'yanone kaffeesatz', sans-serif;
                margin: 0 auto;
                text-indent: -30px;
                text-transform: uppercase;
                width: 130px;
            }
        }
    }


    .main {
        .sidebar {
            display: block;
            float: none;
            width: auto;

            .call-to-action {
                border-bottom: none;
                // display: none; // only visible on home page

                img:first-child { display: none; }

                img { width: 100%; }
            }

            .partners {
                overflow: hidden;
                padding: 0 0 15px 0;
                position: static;
                text-align: left;
                width: auto;

                &:before { 
                    @include mobile-heading;
                    content: "Partners"; 
                }

                .intro {
                    font-size: 14px;
                    line-height: 1.4;
                    padding: 10px;
                }

                .partner {
                    border: none;
                    float: left;
                    padding: 10px 0;
                    text-align: center;
                    width: 33%;

                    img { width: 90%; }
                }
            }
        }

        .content {
            .intro {
                padding: 0 10px 15px 10px;

                h1 {
                    @include mobile-heading;
                    margin: 0 -10px 30px;
                }

                p { font: bold 15px/1.6 arial, sans-serif; }
            }
        }
    }


    //
    // article previews
    .teaser {
        background-position: center top;
        background-size: auto 230px;
        border-top: 7px solid $brown;
        height: auto;
        padding: 0;

        .headline,
        .summary { position: static; }

        .headline {
            bottom: auto;
            height: 230px;
            position: relative;

            h2 { 
                bottom: 0px;
                font-size: 44px;
                margin: 0 10px 10px 10px;
                position: absolute;
                width: auto;
            }
        }

        .summary {
            background: white;

            > * { padding: 10px; }

            p { 
                margin: 0; 
                width: auto;
            }

            span,
            .see-all a { 
                background: none;
                padding: 0; 
            }

            .byline {
                color: #754c29;
                font-style: italic;
                margin-bottom: 10px;
            }

            .lead-in {
                font-size: 14px;
                line-height: 1.5;
            }

            .read-more { 
                padding-top: 0; 
                right: 10px;
            }
        }

        .see-all {
            background: #f3ebd1;
            font-size: 14px;
            padding: 15px 10px;
            text-transform: none;

            a { color: #754c29; }
        }
    }


    //
    // full articles
    .detail {
        padding: 30px 0 0 0;
        position: relative;

        > img { border-bottom: none; }

        .copy {
            padding: 0;
            position: static;

            .back { 
                @include mobile-heading;
                position: absolute;
                top: 0px;
                width: 100%;

                &:before { content: ""; }
            }

            .body {
                margin: 0;
                padding: 10px;
                width: auto;

                .byline {
                    color: #754c29;
                    font-size: 13px;
                    font-style: italic;
                    margin-bottom: 10px;
                }

                // forward/backward nav for recipes
                .nav {
                    list-style: none;
                    overflow: hidden;
                    margin: 0 0 20px 0;
                    padding: 0;

                    li {
                        a { 
                            display: block; 
                            font-weight: bold;
                            height: 25px;
                            line-height: 25px;
                            text-transform: uppercase;
                        }

                        &.next {
                            float: right;

                            a {
                                background: url(../img/m/arrow-right.png) no-repeat right center;
                                background-size: contain;
                                padding-right: 40px;
                            }
                        }

                        &.prev {
                            float: left;

                            a {
                                background: url(../img/m/arrow-left.png) no-repeat left center;
                                background-size: contain;
                                padding-left: 40px;
                            }
                        }
                    }
                }
            }

            .actions {
                margin: 0 0 15px 0;
                position: static;

                li {
                    float: none;
                }

                .email {
                    background: url(../img/m/email.png) no-repeat left center;
                    background-size: contain;
                    color: $brown;
                    font: 13px/1.4 arial, sans-serif;
                    height: 15px;
                    text-indent: 25px;
                    width: auto;
                }

                .print { display: none; }
            }


            //
            // special styles for menu ideas
            .introduction { 
                clear: both;
                font-weight: bold; 
            }

            .ingredients {
                padding: 10px 20px; 
                
                h2 { font-weight: bold !important; }

                thead { display: none; }

                tr {
                    display: block;
                    margin-top: 5px;

                    td { 
                        display: inline; 
                        padding: 0;
                    }

                    .first {
                        display: block;
                        font-weight: bold;

                        &:before { content: " - "; }
                    }

                    .second {
                        margin-left: 10px;
                    }

                    .third.has-content:before { 
                        content: " | "; 
                        padding: 0 5px;
                    }
                }
            }

            .procedure {
                h2 {
                    font-weight: bold !important;
                }
            }
        }

        .other-articles {
            border: none;
            margin: 0;
            padding: 0;

            h2 {
                @include mobile-heading;
                margin: 0;
            }

            .nav {
                background: #f1ece0;
                padding: 10px;

                li,
                li:first-child {
                    border: none;
                    float: none;
                    left: auto;

                    a {
                        background: url(../img/m/arrow-right.png) no-repeat 95% center;
                        background-size: auto 60%;
                        font: 700 23px/1.2 'yanone kaffeesatz', sans-serif;
                        height: auto;
                        padding: 10px 70px 10px 10px;
                        text-transform: uppercase;
                        width: auto;
                    }
                }
            }
        }
    }


    //
    // mobile home page
    .home {
        .content {
            .menu-ideas,
            .promo-ideas,
            .business-tips {
                &:before { @include mobile-heading; }

                .teaser { border-top: none; }
            }

            .menu-ideas:before { content: "Menu Ideas"; }
            .promo-ideas:before { content: "Promo Ideas"; }
            .business-tips:before { content: "Business Tips"; }
        }

        .sidebar {
            // .call-to-action { display: block; }
        }
    }


    // mobile 'about us' page
    .about-us .content {
        padding: 30px 0 0 0;

        > img { border-bottom: none; }

        .intro {
            padding-top: 10px;

            h1 {
                @include mobile-heading;
                position: absolute;
                top: 0px;
                width: 100%;
            }
        }

        .categories {
            .category,
            .category.active {
                padding-bottom: 0;

                h2 {
                    @include box-shadow2(0 2px 2px black);
                    background: url(../img/m/brownlinen.jpg);
                    font-size: 16px;
                    font-weight: bold;
                    position: relative;
                    text-indent: 0;
                    z-index: 50;

                    a {
                        color: #f2ebd1;
                        background: url(../img/m/plus.png) no-repeat 95% center;
                        background-size: auto 50%;
                        padding: 15px;
                    }
                }

                .products {
                    padding: 0;
                    position: relative;
                    z-index: 40;

                    .product {
                        background: #f1ece0;
                        float: none;
                        height: auto;
                        margin: 0;
                        width: auto;

                        &.active h3 a { background-image: url(../img/m/triangle2.png); }

                        img,
                        br,
                        button { display: none; }

                        h3 {
                            font: 600 16px/1.2 arial, sans-serif;
                            margin: 0;
                            text-transform: none;

                            &:first-line { font-size: 16px; }

                            a {
                                background: url(../img/m/triangle.png) no-repeat 96% center;
                                background-size: auto 20px;
                                display: block;
                                padding: 15px 50px 15px 15px;
                            }
                        }

                        .right {
                            float: none;
                            margin: 0;
                            width: auto;
                        }

                        .product-info {
                            background: $brown;
                            color: white;
                            padding: 15px;

                            h4 { display: none; }

                            img {
                                display: block;
                                margin: 0 15px 15px 0;
                            }

                            a { 
                                color: white; 
                                text-decoration: underline;

                                &:after { content: " >"; }
                            }

                            .right {
                                float: none;
                                padding: 0;
                                width: auto;
                            }
                        }
                    }
                }
            }

            .category.active {
                h2 a { background-image: url(../img/m/x.png); }
            }
        }

        .faqs { display: none; }
    }


    // contest & sign up form
    .contest .content {
        p,
        label,
        input[type=text],
        input[type=email],
        textarea,
        .city,
        .city input,
        .state,
        .state input,
        .zip, 
        .zip input,
        .thank-you {
            width: 99% !important; 
        }

        .go-to-form {
            margin: 0 0 30px 0;
            position: static !important;
            text-align: right;
        }

        #form {
            padding: 15px;

            label { font-size: 14px; }

            .state,
            .zip {
                margin-left: 0;
            }

            .privacy p {
                font-size: 11px;
            }
        }
    }



    .quebueno.landing {
        .intro {
            padding: 0 0 15% 0;
            
            > div {
                margin: 2% 2% 0 0;
                padding: 0 0 26%;

                h1 { display: none !important; }
            }
        }

        .tabs { display: none; }

        .video {
            img { 
                margin: 0 15px 0 0;
                width: 30%;
            }

            p { 
                float: none;
                width: auto;
            }

            .left {
                float: none;
                overflow: hidden;
                width: auto;
            }

            .iframe {
                float: none;
                width: 100%;
            }
        }

        .recipes hr { display: none; }

        .recipe {
            border-bottom: 1px solid #3a2618;
            float: none;
            margin-right: 0;
            padding-bottom: 30px;
            width: auto;

            .recipe-url { 
                display: inline-block; 
                line-height: 35px;
                margin-left: 15px;
                padding-top: 0;
            }
        }
    }
}
